//The lower the number the darker
$red1 : #fcf0f0;
$grey1: #2b2b2b;
$white1: #f7f6ff;
$backgroundCol0 : #342d3a;
$backgroundCol1 : #443c4c;
$backgroundCol2 : #675b72;
$backgroundCol3 : #6d5982;

$headerFont : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$moviesPerRow: 7;

$green0 : rgb(0, 185, 83);
$green1 : rgb(2, 201, 92);

@mixin glowText() {
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 14px rgb(179, 231, 252);
}
a {
    cursor: pointer;
    &:hover {
        @include glowText();
    }
}
/* Mixin */
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loadingSpinner {
    border: 16px solid $backgroundCol0;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    position: relative;
    left: 47% !important;
    top: 35%;
}

@mixin hitFloor() {
    text-shadow: 0 1px 0 #CD4, 0 1px 0 #c9c9c9, 0 1px 0px #bbb, 0 3px 0 #b9b9b9, 0 2px 0 #aaa, 0 1px 4px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 1px rgba(0,0,0,.25), 0 10px 7px rgba(0,0,0,.2), 0 10px 14px rgba(0,0,0,.15)
}

@mixin absolute-center($position) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

html, 
body, #main {
    height: 100%;
    margin: 0;
}

#topHeader {
    background-color: $backgroundCol1;
    font-family: $headerFont;
    width: 100%;
    font-weight: bold;
    font-kerning: 20px;
    color:white;
    height: 12%;
    display: inline-block;
    > * {
        display: inline-block;
    }

    #titleText {
        margin-left: 12vw;
        font-size: 54px;
        letter-spacing: 4px;
    }

    #logoText {
        letter-spacing: 2px;
        font-size:18px;
        margin-left: 12px;
    }

    #topSignIn {
        font-size: 20px; 
        text-decoration: underline;
        cursor: pointer;
    }

    .vertCentered {
        > * {
            display: inline-block;
        }
    }
    
    .rightCentered {
        width: 40%;
        position: relative;
        z-index: 8;
        > * {
            display: inline-block;
        }
    }
    
    #searchBar {
        height: 38px;
        width: 26vw;
        left: 6vw;
        position: relative;
        background-color: $white1;
        border-radius: 20px;
        #searchResults {
            position: absolute;
            background: #342d3a;
            z-index: 100000;
            padding: 10px 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            border-radius: 18px;
            .searchResult {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                border-radius: 4px;
                padding: 4px 12px;
                text-overflow: ellipsis;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                    background: $backgroundCol2;
                }
            }
        }
        i.fa-search {
            position: absolute;
            color: $backgroundCol1;
            left: 10px;
            bottom: 8px;
            font-size: 22px;
        }
        
        input {
            background: transparent;
            border: none;
            height: 100%;
            width: 85%;
            margin-left: 42px;
            font-size:16px;
            &:focus {
                outline: none;
            }
        }
    }
}

#secondHeader {
    width: 100%;
    height: 19%;
    font-family: $headerFont;
    font-size: 22px;
    color: white;
    background-image: linear-gradient(to right, blue, rgb(2, 178, 201),  $green1);
    
    #preferenceHeader {
        height: 68%;
        
        #questionsBanner {
            text-align: center;
            height: 72%;
            overflow: hidden;
        }
        
        #preferenceSignIn {
            margin-left: auto;
            margin-right: auto;
            height: 28%;
            font-size: 13px;
            width: 160px;
            text-align: center;
            u {
                cursor: pointer;
            }
        }
        
        #prefBelt {
            white-space: nowrap;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            text-align: center;
            height: 110%;
        }
        
        .prefQuestion {
            display: block;
            margin: 0 3em;
            white-space: nowrap;
            height: 100%;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-25%);
            
            .questionOptions {
                margin: 0 10px;
                display: inline-block;
                .affirmative, .negative {
                    cursor: pointer;
                    span {
                        margin: 0 13px 0 7px;
                    }
                }
            }
        }
    }
    
    #genreHeader {
        height: 32%;
        background-color: #2b2b2b33;
      
        #genreHeaderInner {
            text-align: center;
            height: 100%;
        }
        
        .genreTab {
            display: inline-block;
            color: white;
            height: 100%;
            padding: 0 10px;
            margin: 0 1.6vw;
            &.chosen {
                background: #2b2b2b33;
                border-radius: 8px;
            }
            position: relative;
            > div:first-child {
                @include vertical-align()
            }
        }
    }

    .genreMenu {
        position: absolute;
        background: black;
        width:180px;
        background-image: linear-gradient(to right, #02bd95, $green1);
        border-bottom-left-radius: 4px;//lkj
        border-bottom-right-radius: 4px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);    
        z-index: 5;
        text-shadow: none;
        > div {
            padding: 8px 0;
            &:hover {
                @include glowText();
            }
        }
        > div:nth-child(even) {
            background-color: #2b2b2b33;
        }
    }
}

#mainBody { 
    * {
        box-sizing: border-box;
    }
    background-color: $backgroundCol1;
    width: 100%;
    height: 82%;
    position: relative;
    #movieGrid {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        &:focus {
            outline: none;
        }
        #moviePages {
            white-space: nowrap;
            position: relative;
        }
        #moviePages, .moviePage {
            height: 100%;
        }
        .moviePage {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
        i.moveArrow {
            position: absolute;
            top:50%;
            cursor: pointer;
            font-size: 80px;
            color: #efefef;
            transform: translateY(-50%);
        }
        .goRight {
            right: 1.3%;
        }
        .goLeft {
            left: 1.3%;
        }
    }

    #filterPage {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #soloMovieOuter {
        height: 100%;
    }
    #soloMovieDisplay {
        width: 80%;
        height: 85%;
        box-shadow: 4px 5px 27px #00000073;
        border-radius: 20px;
        background-color: $backgroundCol2;
        white-space: nowrap;
        font-family: $headerFont;
        color: white;
        > div {
            height:90%;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            @include vertical-align();
        }
        #tagLine {
            font-style: italic;
            font-weight: bold;
        }
       .left {
            width: 25%;
            text-align: center;
        }

        .right {
            width:70%;
            padding: 0 10px;
        }

        #soloClose {
            position: absolute;
            top: 7px;
            right: 7px;
            font-size: 30px;
            color: white;
            z-index:2;
            cursor: pointer;
            &:hover {
                text-shadow: 1px 0px 8px #b3e7fc;
            }
        }

        #soloTitle {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            margin: 5px 0 20px 0;
        }
        
        #runtime, #budget {
            font-weight: bold;
            margin-top: 10px;
        }
        #maybeButton {
            position:absolute;
            bottom: 0;
            right: 0;
            position: absolute;
            bottom: 12px;
            font-weight: bold;
            box-shadow: 1px 1px 16px #00000073;
            border-radius: 9px;
            background: $green1;
            padding: 8px;
            cursor: pointer;
            right: 0;
            &:active {
                background: $green0;
            }
        }
        #services {
            position:absolute;
            bottom: 0;
            >div:first-child {
                padding: 8px 0;
                font-size: 18px;
                font-weight: bold;
            }
            .service {
                display:inline-block;
                height:50px;
                margin: 0 5px;
                cursor: pointer;
                img {
                    height: 100%;
                }
                &.unavailable {
                    opacity: .4;
                    cursor: inherit;
                    pointer-events: none;
                }
            }
        }
    
        #overview {
            word-break: break-word;
            text-overflow: hidden;
        }
        img {
            height: 80%;
            box-shadow: 3px 3px 27px #0000007d;
            border-radius: 12px;
        }

        @include absolute-center(relative);
    }

    .movieRow {
        width: 100%;
        height: fit-content;
        white-space: nowrap;
        text-align: center;
        padding-top: 8px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .movieCell {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: relative;
        width: (92%/$moviesPerRow);
        text-align: center;
        font-family: $headerFont;
        color:white;
        transition: opacity 160ms linear;
        &:hover {
            .addMovie{
                opacity: 1;
            }
        }
        .addMovie {
            position: absolute;
            z-index: 2;
            opacity: 0;
            color: #02c85e;
            text-shadow: 1px 1px 5px #000000f2;
            font-size: 2.5vw;
            cursor: pointer;
            transition: opacity 200ms;
            -webkit-text-stroke: .5px black;
            bottom: 12%;
            right: 12%;
            i {
                vertical-align: top;
            }
            &:hover {
                .addMovieHelper {
                    opacity: 1;
                    display:block;
                    pointer-events: none;
                    transition-delay: 300ms;
                }
            } 
            .addMovieHelper {
                position: absolute;
                opacity: 0;
                display:none;
                transform: translateX(-50%);
                top: -26px;
                left: 50%;
                color: white;
                padding: 5px 8px;
                border-radius: 10px;
                font-weight: normal;
                transition: opacity 200ms;
                -webkit-text-stroke-width: 0;
                background: #29242ddd;
                font-size: 1vw;
                font-family: sans-serif;
            }
        }
        
        img {
            box-shadow: 6px 0px 27px #00000054;
            display: block;
            display: block;
            max-width: 84%;
            border-radius: 5px;
            cursor: pointer;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .movieTitle {
        width: 96%;
        font-size: 16px;
        overflow-x: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        margin-left: auto;
        margin-right: auto;
    }
   
    #mainButton {
        // @include vertical-align()
        text-align: center;
    }
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

#maybeList {
    position: fixed;
    box-shadow: 1px 1px 14px black;
    height: 26vh;
    border-bottom-right-radius: 18px;
    width: 10vw;
    background: #302a35;
    top: 0;
    left: 0;
    font-family: $headerFont;
    white-space: nowrap;
    transition: all 200ms;
    color: white;
    &:hover {
        .movieTitle, .muvieChoose {
            opacity: 1 !important;
            margin-left: auto;
            margin-right: auto;
        }
        .maybeMovie {
            margin: 16px 0 !important;
            &:hover {
                .remove {
                    opacity: 1 !important;
                }
            }
        }
        .maybeMovie img {
            height: 78% !important;
        }
    }
    #maybeContainer {
        text-align: center;
        .maybeMovie {
            display: inline-block;
            height: 100%;
            height: 90%;
            overflow:hidden;
            margin: 6px 0;
            position: absolute;
            left: calc(var(--n) * 0.5%);
            &.choosing {
                .chooseArrow {
                    opacity: 1 !important;
                }
            }
            &.trueChosen {
                .crown {
                    opacity: 1 !important;
                }
            }
            .crown {
                color:gold;
                bottom: 20%;
            }
            .chooseArrow{
                bottom: 3%;
            }
            .chooseArrow, .crown {
                opacity: 0;
                position: absolute;
                font-size: 40px;
                left: 50%;
                transform: translateX(-50%);
            }
            .movieContainer {
                height: 100%;
            }
            img {
                height: 80%;
                cursor: pointer;
                border-radius: 5px;
            }
            .movieTitle {
                opacity: 0;
                margin-top: -4px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 88%;
                text-align: center;
            }
            .remove {
                opacity: 0;
                position: absolute;
                top: 4px;
                font-size: 22px;
                color: #fd3a3a;
                transition: all 200ms;
                right: 50%;
                cursor: pointer;
                transform: translateX(50%);
                text-shadow: 1px 1px 5px #000000f2;
            }
        }
    }
    #maybeLabel {
        position: absolute;
        bottom: 6px;
        left: 50%;
        font-size: 22px;
        transform: translateX(-50%);
    }
    .muvieChoose {
        position: absolute;
        bottom: 12px;
        opacity: 0;
        right: 14px;
        cursor: pointer;
        font-size: 20px;
        &:hover {
            #muvieChooseHelper{
                opacity: 1 !important;
            }
        }
        #muvieChooseHelper {
            position: absolute;
            opacity: 0;
            top: 1px;
            right: 100%;
            padding: 5px 8px;
            border-radius: 10px;
            font-weight: normal;
            transition: opacity 200ms;
            -webkit-text-stroke-width: 0;
            background: #29242ddd;
            font-size: 18px;
            font-family: sans-serif;
        }
    } 
}

#filterPage {
    color: white;
    font-family: $headerFont; 
    box-sizing: border-box;
    padding: 5px 25px;
    #filterBody {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 850px;
        > div{
            width:50%;
            display: inline-block;
            vertical-align: top;
            padding: 10px 45px;
        }
        .typeHeader {
            font-weight: bold;
            font-size: 18px;
        }
        .filterType {
            padding-bottom: 15px;
            input {
                width: 80%;
                &:focus {
                    outline: none;
                }
            }
            .descriptor {
                margin-top: 5px;
            }
            .slider {
                -webkit-appearance: none;
                height: 8px;
                margin: 15px 0px;
                background: lightgray;
                border-radius: 20px;
            }
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 30px;
                background: $green1;
                cursor: pointer;
            }
        }
        .filterItem {
            white-space: nowrap;
            position: relative;
            font-size: 18px;
            padding: 3px 0;
            .questionOptions{
                right: 0px;
                position: absolute;
                span {
                    cursor: pointer;
                }
                .affirmative {
                    margin: 0 10px;
                }
                i {
                    margin: 0 6px;
                }
            }
            * {
                display: inline-block;
            }
        }
    }
    #filterTitle {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.2);
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
  }
  
  .popup_inner {
    position: absolute;
    left: 32%;
    right: 32%;
    top: 28%;
    border-radius:30px;
    bottom: 28%;
    margin: auto;
    background: $backgroundCol2;
  }

.vertCentered {
    @include vertical-align();
}
.rightCentered {
    @include vertical-align();
    float:right;
}

$fastTime : 150ms;
$medTime : 190ms;
.shown {
    opacity: 1;
    transition: all $medTime linear;
}
  
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all $medTime linear;
}