//The lower the number the darker
$red1 : #fcf0f0;
$grey1: #2b2b2b;
$white1: #f7f6ff;
$backgroundCol1 : #443c4c;
$backgroundCol2 : #675b72;
$backgroundCol3 : #6d5982;

$headerFont : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$moviesPerRow: 7;

$green1 : rgb(2, 201, 92);

@mixin glowText() {
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 14px rgb(179, 231, 252);
}
a {
    cursor: pointer;
    &:hover {
        @include glowText();
    }
}
/* Mixin */
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin hitFloor() {
    text-shadow: 0 1px 0 #CD4, 0 1px 0 #c9c9c9, 0 1px 0px #bbb, 0 3px 0 #b9b9b9, 0 2px 0 #aaa, 0 1px 4px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 1px rgba(0,0,0,.25), 0 10px 7px rgba(0,0,0,.2), 0 10px 14px rgba(0,0,0,.15)
}

@mixin absolute-center($position) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

html, 
body, #main {
    height: 100%;
    margin: 0;
}

#topHeader {
    background-color: $backgroundCol1;
    font-family: $headerFont;
    width: 100%;
    font-weight: bold;
    font-kerning: 20px;
    color:white;
    height: 12%;
    display: inline-block;
    > * {
        display: inline-block;
    }

    #titleText {
        margin-left: 7vw;
        font-size: 54px;
        letter-spacing: 4px;
    }

    #logoText {
        letter-spacing: 2px;
        font-size:18px;
        margin-left: 12px;
    }

    #topSignIn {
        font-size: 20px; 
        text-decoration: underline;
        cursor: pointer;
    }

    .vertCentered {
        > * {
            display: inline-block;
        }
    }
    
    .rightCentered {
        width: 40%;
        > * {
            display: inline-block;
        }
    }
    
    #searchBar {
        height: 38px;
        width: 26vw;
        left: 6vw;
        position: relative;
        background-color: $white1;
        border-radius: 20px;
        i.fa-search {
            position: absolute;
            color: $backgroundCol1;
            left: 10px;
            bottom: 8px;
            font-size: 22px;
        }
        
        input {
            background: transparent;
            border: none;
            height: 100%;
            width: 85%;
            margin-left: 42px;
            font-size:16px;
            &:focus {
                outline: none;
            }
        }
    }
}

#secondHeader {
    width: 100%;
    height: 19%;
    font-family: $headerFont;
    font-size: 22px;
    color: white;
    background-image: linear-gradient(to right, blue, rgb(2, 178, 201),  $green1);
    
    #preferenceHeader {
        height: 68%;
        
        #questionsBanner {
            text-align: center;
            height: 72%;
            overflow: hidden;
        }
        
        #preferenceSignIn {
            margin-left: auto;
            margin-right: auto;
            height: 28%;
            font-size: 13px;
            width: 160px;
            text-align: center;
            u {
                cursor: pointer;
            }
        }
        
        #prefBelt {
            white-space: nowrap;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            text-align: center;
            height: 110%;
        }
        
        .prefQuestion {
            display: block;
            margin: 0 3em;
            white-space: nowrap;
            height: 100%;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-25%);
            
            .questionOptions {
                margin: 0 10px;
                display: inline-block;
                .affirmative, .negative {
                    cursor: pointer;
                    span {
                        margin: 0 13px 0 7px;
                    }
                }
            }
        }
    }
    
    #genreHeader {
        height: 32%;
        background-color: #2b2b2b33;
      
        #genreHeaderInner {
            text-align: center;
            height: 100%;
        }
        
        .genreTab {
            display: inline-block;
            color: white;
            height: 100%;
            padding: 0 10px;
            margin: 0 2.8vw;
            &.chosen {
                background: #2b2b2b33;
                border-radius: 8px;
            }
            position: relative;
            > div:first-child {
                @include vertical-align()
            }
        }
    }

    .genreMenu {
        position: absolute;
        background: black;
        width:180px;
        background-image: linear-gradient(to right, #02bd95, $green1);
        border-bottom-left-radius: 4px;//lkj
        border-bottom-right-radius: 4px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);    
        z-index: 5;
        text-shadow: none;
        > div {
            padding: 8px 0;
            &:hover {
                @include glowText();
            }
        }
        > div:nth-child(even) {
            background-color: #2b2b2b33;
        }
    }
}

#mainBody { 
    * {
        box-sizing: border-box;
    }
    background-color: $backgroundCol1;
    width: 100%;
    height: 82%;
    position: relative;
    #movieGrid {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;

        #moviePages {
            white-space: nowrap;
            position: relative;
        }
        .moviePage {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
        i {
            position: absolute;
            top:50%;
            cursor: pointer;
            font-size: 80px;
            color: #efefef;
            transform: translateY(-50%);
        }
        .goRight {
            right: 1.3%;
        }
        .goLeft {
            left: 1.3%;
        }
    }

    #filterPage {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #soloMovieDisplay {
        width: 80%;
        height: 85%;
        box-shadow: 4px 5px 27px #00000073;
        border-radius: 30px;
        background-color: $backgroundCol2;
        white-space: nowrap;
        font-family: $headerFont;
        color: white;
        > div {
            height:90%;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            @include vertical-align();
        }
        
       .left {
            width: 30%;
            text-align: center;
        }

        .right {
            width:70%;
            padding:25px;
        }

        #soloClose {
            position: absolute;
            top: 15px;
            font-size: 42px;
            color: white;
            z-index:2;
            cursor: pointer;
            right: 15px;
            &:hover {
                text-shadow: 1px 0px 8px #b3e7fc;
            }
        }

        #soloTitle {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            margin: 10px 0;
        }
        
        #overview {
            word-break: break-word;
            text-overflow: hidden;
        }
        img {
            height: 80%;
            box-shadow: 3px 3px 27px #0000007d;
            border-radius: 12px;
        }

        @include absolute-center(relative);
    }

    .movieRow {
        width: 100%;
        height: fit-content;
        white-space: nowrap;
        text-align: center;
        padding-top: 8px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .movieCell {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: relative;
        width: (92%/$moviesPerRow);
        text-align: center;
        font-family: $headerFont;
        color:white;
        img {
            box-shadow: 6px 0px 27px #00000054;
            display: block;
            display: block;
            max-width: 84%;
            border-radius: 5px;
            cursor: pointer;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .movieTitle {
        width: 96%;
        font-size: 16px;
        overflow-x: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        margin-left: auto;
        margin-right: auto;
    }
   
    #mainButton {
        // @include vertical-align()
        text-align: center;
    }
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.2);
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
  }
  
  .popup_inner {
    position: absolute;
    left: 32%;
    right: 32%;
    top: 28%;
    border-radius:30px;
    bottom: 28%;
    margin: auto;
    background: $backgroundCol2;
  }

.vertCentered {
    @include vertical-align();
}
.rightCentered {
    @include vertical-align();
    float:right;
}

$fastTime : 150ms;
$medTime : 220ms;
.shown {
    opacity: 1;
    transition: all $medTime linear;
}
  
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all $medTime linear;
}